<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <style>

  </style>
</head>

<body>
  <div class="container">
    <h1>Expense Tracker</h1>
    <input type="text" id="name" placeholder="Name">
    <input type="number" id="amount" placeholder="Amount">
    <select id="category">
      <option value="food">Food</option>
      <option value="transport">Transport</option>
      <option value="entertainment">Entertainment</option>
      <option value="other">Other</option>
    </select>
    <input type="submit" value="Add Expense" onclick="postExpense()">
  </div>
  <script>
    const apiUri = '/api/expenses/';
    const headers = {
      'Content-Type': 'application/json'
    };
    function renderExpense(expense) {
      console.table(expense);
      const tr = document.createElement('tr');
      const time = new Date(expense.date);
      expense.date = time.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });

      tr.innerHTML = `
        <td>${expense.name}</td>
        <td>${expense.amount}</td>
        <td>${expense.date}</td>
        <td>${expense.category}</td>
      `;

      const td = document.createElement('td');
      const button = document.createElement('button');
        button.innerHTML = 'Delete';
        button.addEventListener('click', () => {
            deleteExpense(expense.id);
        });
      td.appendChild(button);
      tr.appendChild(td);
      table.appendChild(tr);
    }
    function refreshTable() {
        table.innerHTML = '';
        getExpenses();
    }
    function getExpenses() {
        fetch(apiUri, {
            method: 'GET',
            headers: headers
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            data.forEach(expense => {
                renderExpense(expense);
            });
        })

    }

    function postExpense() {
        // name, amount, category(food,transport,entertainment,other etc.)
        const expense = {
            name: document.getElementById('name').value,
            amount: document.getElementById('amount').value,
            category: document.getElementById('category').value,
            id: Date.now()
        };
        fetch(apiUri, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(expense)
        })
        .then(response => response.json())
        .then(data => { 
            console.log(data);
            renderExpense(data);
        })
    }
    function deleteExpense(id) {
        fetch(`${apiUri}${id}/`, {
            method: 'DELETE',
            headers: headers
        })
        .then(response => refreshTable())
        .catch(error => console.error('Error:', error));
        
    }
    
    const table = document.createElement('table');
    const container = document.querySelector('.container');
    container.appendChild(table);
    // document.body.appendChild(table);
    // refreshTable();
    // document.querySelector("input[type='submit']").addEventListener('click', postExpense);

  </script>
</body>

</html>